* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-container {
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

#qr-input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

#qr-button{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
}

#qr-img{
    display: block;
    width: 30%;
    margin-inline: auto;
    margin-top: 20px;
}